body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.zero-padding { padding-top: 0px!important; padding-bottom: 0px!important; }
.zero-border td { border-top: none!important; }
a.disabled {
  pointer-events: none;
  opacity: 0.4;
}
